@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class ="centrato">
    <p>Ogni diritto sul progetto è riservato e interno all'organizzazione dell' ITIS Mario Delpozzo</p>
</div>
<style>
    .centrato {
        justify-content: center;
        display: flex;
        align-items: center;
</style>
