@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}



<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<div >
    <div >
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div class="submit">
                <div class="form-item">

                    <h1>Registrati</h1>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label >Indirizzo e-mail:</label>
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label >Password:</label>
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label>Conferma Password:</label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>

                    <button id="registerSubmit" type="submit" class="button">Register</button>

                    <div class="change-form-button">
                        <p>Possiedi già un account?  </p><a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Accedi</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
