@{
    ViewData["Title"] = "Home Page";
}

<h1>CocHarts</h1>
<h2>Il sito per la gestione della tua azienda</h2>

<p>Questo sito sfrutta la dinamicità dei nodi per poter gestire i vari settori elaborativi
    della vostra azienda. Include anche la divisione dei ruoli tramite il login
</p>

<button>Get Started</button>